extends ../layout

block content
	.container
		.row
			div.alert.alert-success Location / Add
	br
	h3#title.text-center Location Add
	hr
	br
	.container#form
		form(action="" method="POST" name="location_add_form")
			label(for="select_project") Select Project
			select.form-control.form-control(select="") Select Project
				option(value="") Select Project
				option(value="") NALA
				option(value="") NZUGUNI
			br
			label(for="location_name_input") Location Name
			.form-group
				input#location_name_input.form-control(type="text" placeholder="Location Name" name="location_name")
				small#emailHelp.form-text.text-muted Enter Unique Location Name
			.form-group
				button.btn.btn-primary(type="submit") ADD LOCATION