extends ../layout

block content
    .container
        .row
            div.alert.alert-secondary Location /
    a#btnAdd.btn.btn-md.btn-success(href="/location/add") ADD
    table.table.table-hover
        thead
            tr
                th(scope='col') #
                th(scope='col') First
                th(scope='col') Last
                th(scope='col') Handle
                th(scope='col') Last
                th(scope='col') Last
                th(scope='col') Handle
                th(scope='col') Last
                th(scope='col') Handle
                th(scope='col') Action
        tbody
            tr
                th(scope='row') 1
                td Mark
                td Otto
                td @mdo
                td Otto
                td @mdo
                td Otto
                td Otto
                td @mdo
                td
                    a#tableBtn.btn.btn-sm.btn-primary(href="/location/edit") Edit
                    a#tableBtn.btn.btn-sm.btn-danger(href="") Delete
