extends ../layout

block content
	.container
		.row
			div.alert.alert-success Plot / Add
	br
	h3#title.text-center Plot Add
	hr
	br
	.container#form
		form(action="" method="POST" name="plot_add_form")
			label(for="plot_number_input") Plot Number
			.form-group
				input#plot_number_input.form-control(type="text" placeholder="Plot Number" name="plot_number")
			label(for="plot_size_input") Plot Size
			.form-group
				input#plot_size_iput.form-control(type="text" placeholder="Plot Size" name="plot_size")
				small#emailHelp.form-text.text-muted Enter Plot Size *
			label(for="select_plot_use") Select Plot USe
			select.form-control(select="") Select Plot Use
				option(value="Residential") Residential
				option(value="Commercial") Commercial
			br
			label(for="select_project") Select Project
			select.form-control(select="") Select Project
				option(value="") Select Project
				option(value="") NALA
				option(value="") NZUGUNI
			br
			label(for="select_location") Select Location
			select.form-control.form-control(select="") Select Location
				option(value="") Select Location
				option(value="") NALA
				option(value="") NZUGUNI
			br
			label(for="select_block") Select Block
			select.form-control(select="") Select Block
				option(value="") Select Project
				option(value="BH") BH
				option(value="NZ") NZ
			br
			.form-group
				button.btn.btn-primary(type="submit") ADD PLOT