extends layout

block content
    div.alert.alert-danger #{messages}
    //- div.col.md-12#flash
    //-       if successes
    //-           for success in successes
    //-               div.alert.alert-success #{ success }
    //-       if errors
    //-           for error in errors
    //-               div.alert.alert-danger #{ error }